@{
    ViewData["Title"] = "User Agreement";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <p>This is a private page that can only be seen while logged in</p>

    <p>If you are not a logged in user... I think we've done something wrong</p>
</div>