@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container" id="Error">

    <h3> Sorry, I think we have made a mistake, I think this page is unavailable right now</h3>

    <img src="~/images/Error/BrokenHeart.jpg" id="HeartError" height="300" width="450"/>

    <br/>
    <br/>

    <h4> Come back soon and hopefully we will be back in action </h4>

    <button class="btnReturnHome"><a asp-controller="Home" asp-action="Index"></a> Return Home </button>

</div>




