@{
    ViewData["Title"] = "Home Page";
}

<section id="slider">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active" style="background-image:url(images/Slider/Wedding1.jpg)">
                <div class="carousel-caption container">
                    <div class="row">
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <h1>Tie The Knot</h1>
                            <h1>Wedding Management</h1>
                            <p>Award-winning Professtional Wedding Planners based in Cork City, planning weddings all over Ireland and abroad.</p>
                            <p>Voted Top 5 Wedding Planners in Ireland by RSVP Magazine, 2020</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(images/Slider/Wedding3.jpg)">
                <div class="carousel-caption container">
                    <div class="row">
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <h1>Tie The Knot</h1>
                            <h1>Wedding Management</h1>
                            <p>Award-winning Professtional Wedding Planners based in Cork City, planning weddings all over Ireland and abroad.</p>
                            <p>Voted Top 5 Wedding Planners in Ireland by RSVP Magazine, 2020</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image:url(images/Slider/Wedding2.jpg)">
                <div class="carousel-caption container">
                    <div class="row">
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <h1>Tie The Knot</h1>
                            <h1>Wedding Management</h1>
                            <p>Award-winning Professtional Wedding Planners based in Cork City, planning weddings all over Ireland and abroad.</p>
                            <p>Voted Top 5 Wedding Planners in Ireland by RSVP Magazine, 2020</p>
                        </div>
                    </div>
                </div>
            </div>

            <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a> <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <!--/#home-carousel-->
</section>

<div class="container" align="center">

    <h3 id="Welcome">Welcome to Tie The Knot Wedding Management</h3>
    


    <button id="btnInterested"><a asp-controller="ClientContact" asp-action="Index">Interested? Contact Us!</a></button>
</div>


