@{
    ViewData["Title"] = "Testimonials";
}

<br/>
<br/>
<br/>
<br/>

<div class="container" style="text-align:center">

    <h2>Client Testimonials</h2>
    <br />

    <h4><u><i>Day went off without a hitch!</i></u></h4>
    <p>Mary is amazing, she was incredibly organised and nothing fazed her. Everything on the day ran smoothly, and I couldn't have been happier! - Ciara, Donegal</p>

    <br />

    <h4><u><i>I've recommended them to everyone</i></u></h4>
    <p>I had a huge wedding and I knew that I couldn't plan it alone so I hired Jane to assist me. She was able to incorporate all of my ideas and give me more for my theme. I am so impressed, I've recommened Tie The Knot to all my friends - Claire, Cork</p>

    <br />

    <h4><u><i>We had the perfect day</i></u></h4>
    <p>Mary helped us to curate the perfect day, from start to finish. She helped us to create a beautiful romantic and intimate wedding, and was even able to cater to our small budget, just what we wanted! - Maria, Killarney</p>

    <br />

    <h4><u><i>I could never have done it by myself!</i></u></h4>
    <p>Jane was the most amazing wedding planner, I couldn't have managed without her. The stress of the wedding was getting to me and I was so disorganised, but Jane walked into my life and it was like a weight was taken off my shoulders. She did the work with ease, and barely batted an eyelid. Without her, I couldn't have had such a good day, I'd have been too worried about everything else - Janet, Dublin</p>

    <button id="btnInterested"><a asp-controller="Home" asp-action="Index">Home</a></button>
</div>